<div class="tfooter container-fluid">
    <div class="row p-5">
        <div class="col-6 text-left">
            <h1>تپسی</h1>
            <h3>سامانه هوشمند درخواست تاکسی</h3>
            <p class="paragraph w-50">تمام حقوق مادی و معنوی این وبسایت متعلق به تپسی میباشد</p>
            <div class="icon pt-5">
                <h3>تپسی در شبکه‌های اجتماعی</h3>
                <a href="https://www.facebook.com/TAPSI.ir"><img src="https://tapsi.ir/images/contact/facebook.svg" alt="facebook logo"></a>
                <a href="https://www.instagram.com/tapsi_ir/"><img src="https://tapsi.ir/./images/contact/instagram.svg" alt="instagram logo"></a>
                <a href="https://twitter.com/TAPSI_ir"><img src="https://tapsi.ir/./images/contact/twitter.svg" alt="twitter logo"></a>
            </div>
            <!--<a href="https://www.linkedin.com/company/tap30"><img src="https://tapsi.ir/./images/contact/linkedin.svg " alt="linkedin logo"></a>-->
        </div>
        <div class="col-6">
            <img src="https://tapsi.ir/images/etehadiye.png" alt="Etehdieye logo">
            <a target="_blank" href="https://trustseal.enamad.ir/?id=134202&amp;Code=7jelItGhNaXbhvYrHRN5">
                <img src="https://tapsi.ir/images/etehadiye.png" alt="" style="cursor:pointer" id="7jelItGhNaXbhvYrHRN5">
            </a>
        </div>
    </div>

</div>