<div class="container-fluid">
    <div class="row">
        <div class="col">
            <mat-tab-group animationDuration="0ms">
                <mat-tab label="تماس با ما">
                    <div class="container-fluid pt-5">
                        <div class="row">
                            <div class="col">
                                <div class="bg-danger text-center h-75">
                                    <h1>نقشه</h1>
                                </div>
                            </div>
                            <div class="col">
                                <ul>
                                    <li>
                                        <div class="row ">
                                            <div class="col">
                                                <p>شماره تماس با پشتیبانی:
                                                </p>
                                            </div>
                                            <div class="col">
                                                <a href="">1630</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col">
                                                <p>
                                                    شماره فکس:
                                                </p>
                                            </div>
                                            <div class="col">
                                                <a href="">+98 (21) 89782348</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col">
                                                <p>پست الکترونیکی:</p>
                                            </div>
                                            <div class="col">
                                                <a href="">info@tapsi.cab</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="درخواست بازگشت اعتبار">
                    <div class="container">
                        <div class="row">
                            <div class="col pt-5 d-flex justify-content-center">
                                <form class="d-flex justify-content-center flex-column w-25">
                                    <mat-form-field class="example-full-width text-left">
                                        <input matInput placeholder="نام ونام خانوادگی">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width text-left">
                                        <input matInput placeholder="شماره تماس">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width text-left">
                                        <input matInput placeholder="ایمیل">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width text-left">
                                        <input matInput placeholder="شماره ملی">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width text-left">
                                        <input matInput placeholder="شماره کارت">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width text-left">
                                        <input matInput placeholder="مبلغ به تومان">
                                    </mat-form-field>

                                    <button class="mybutton" mat-raised-button>ارسال</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="ثبت مشکل یا طرح پرسش">
                    <div class="col text-center d-flex justify-content-center pt-5">
                        <form class=" d-flex flex-column">
                            <mat-form-field class="example-full-width text-left">
                                <input matInput placeholder="نام ونام خانوادگی">
                            </mat-form-field>
                            <mat-form-field class="example-full-width text-left">
                                <input matInput placeholder="شماره تماس">
                            </mat-form-field>
                            <mat-form-field class="example-full-width text-left">
                                <input matInput placeholder="ایمیل">
                            </mat-form-field>
                            <mat-form-field class="example-full-width text-left">
                                <textarea matInput placeholder="متن پیام"></textarea>
                            </mat-form-field>
                            <button class="mybutton1" mat-raised-button>ارسال</button>
                        </form>
                    </div>
                </mat-tab>

            </mat-tab-group>
        </div>
    </div>
    <!-- end of first row -->
</div>