<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="demo text-left">
                <h1>پنل سازمانی</h1>
                <h3>پنل سازمانی یک سامانه تحت وب</h3>
                <h3>است که برای ارسال همزمان</h3>
                <h3>چندین درخواست سفر طراحی شده</h3>
                <h3>است.</h3>
            </div>
            <img class="w-100" src="/assets/img/bg-co-4.jpg" />
        </div>
        <div class="col">
            <div class="d-flex justify-content-center pt-5">
                <h3>برای دریافت پنل سازمانی فرم زیر را پر نمایید.</h3>
            </div>
            <form>
                <table class="example-full-width" cellspacing="20">

                    <tr>

                        <td>
                            <mat-form-field class="example-full-width text-left">
                                <mat-label>نام شرکت</mat-label>
                                <input name="saeed" [(ngModel)]="saeed" matInput required="true">
                                <mat-error *ngIf="!saeed">
                                    <strong>گزینه نام شرکت الزامی است</strong>
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="example-full-width text-left">
                                <mat-label>نام نماینده شرکت</mat-label>
                                <input name="saeed" [(ngModel)]="saeed" matInput required="true">
                                <mat-error *ngIf="!saeed">
                                    <strong>گزینه نام کامل الزامی است</strong>
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width text-left">
                                <mat-label>شماره ثابت همراه کد شهر</mat-label>
                                <input name="saeed" [(ngModel)]="saeed" matInput required="true">
                                <mat-error *ngIf="!saeed">
                                    <strong>گزینه تلفن الزامی است</strong>
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="example-full-width text-left">
                                <mat-label>تلفن نماینده شرکت</mat-label>
                                <input name="saeed" [(ngModel)]="saeed" matInput required="true">
                                <mat-error *ngIf="!saeed">
                                    <strong>شماره موبایل وارد شده معتبر نیست</strong>
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width text-left">
                                <mat-label>ایمیل*</mat-label>
                                <input name="saeed" [(ngModel)]="saeed" matInput required="true">
                                <mat-error *ngIf="!saeed">
                                    <strong>گزینه پست الکترونیکی الزامی است</strong>
                                </mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="example-full-width text-left">
                                <mat-label>تعداد پرسنل</mat-label>
                                <input name="saeed" [(ngModel)]="saeed" type="number" matInput required="true">
                                <mat-error *ngIf="!saeed">
                                    <strong>گزینه تعداد پرسنل الزامی است</strong>
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width text-left">
                                <mat-label>شهر</mat-label>
                                <input name="saeed" [(ngModel)]="saeed" matInput required="true">
                                <mat-error *ngIf="!saeed">
                                    <strong>گزینه شهر اجباری است</strong>
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <!-- <mat-form-field class="example-full-width text-left">
                            -->
                            <div class="logo">
                                <div class="text-left">
                                    <mat-label>لوگو</mat-label>
                                </div>
                                <input type="file" name="mohammad" [(ngModel)]="mohammad" required="true">
                            </div>
                            <!-- <mat-error *ngIf="!mohammad">
                                    <strong>گزینه لوگو اجباری است</strong>
                                </mat-error>
                            </mat-form-field> -->
                        </td>
                    </tr>


                </table>
                <button class="mybutton" mat-raised-button>ثبت نام</button>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-left mt-5">پنل سازمانی چیست؟</h1>
                <div class="w-75 text-left">
                    <h3>
                        پنل سازمانی یک سامانه تحت وب است که برای ارسال درخواست سفر برای چندین نفر به صورت همزمان طراحی شده است. هدف این محصول، پاسخگویی به نیاز سفرهای درون شهری کارکنان سازمان‌های بزرگ است.</h3>
                    <h3>

                        ویژگی‌های اصلی پنل سازمانی عبارتند از: درخواست چند خودرو به صورت همزمان و بدون محدودیت در تعداد خودروها؛ گزارش‌گیری آنلاین از قیمت سفرها و ردگیری مسیر سفرها در وب‌‌سایت؛ دریافت گزارش از جمع سفرها در یک بازه زمانی مشخص در قالب یک فایل اکسل که شامل اطلاعاتی
                        از مبدا، مقصد و زمان سفرها و نیز مشخصات افرادی که سفر کرده اند می شود.
                    </h3>
                    <h3>
                        نحوه پرداخت بابت پنل سازمانی به صورت اعتباری است. بنابراین با استفاده از پنل سازمانی تپسی‌ حجم کاری تنخواه‌گردانی سازمان‌ها نیز کاهش می یابد. در ضمن، در بخش اعتبار پنل سازمانی، همه جزئیات سفرها قابل مشاهده است.
                    </h3>
                </div>
                <div class="d-flex justify-content-center pb-4">
                    <button class="mybutton2" mat-raised-button>ورود به پنل سازمانی</button>
                </div>
            </div>
        </div>
    </div>
</div>