<div class="container-fluid">

    <div class="row top-section flex-column">
        <div class="col text-center">
            <h1>تپسی</h1>
            <h5>سامانه هوشمند درخواست خودرو</h5>
        </div>
        <div class="col">
            <div class="row flex-column justify-content-center pt-4">
                <div class="col justify-content-center d-flex">
                    <div class="w-25 mr-2">
                        <button class="tapsi" mat-button>ورود به آپ پیشرو تپسی</button>
                    </div>
                    <div class="w-25">
                        <button class="tapsi" mat-button>راننده تپسی شو!</button>
                    </div>
                </div>
                <div class="col justify-content-center d-flex">
                    <div class="w-25 mr-2">
                        <button class="tapsi" mat-button>دریافت اپلیکیشن مسافر</button>
                    </div>
                    <div class="w-25">
                        <button class="tapsi" mat-button>دریافت اپلیکیشن سفیر</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of section one -->

    <div class="row whatis-tapsi flex-column">
        <div class="col w-50 text-left">
            <h1 class="para">تپسی چیست؟</h1>
            <h3>سامانه هوشمند درخواست خودرو</h3>
            <p>تپسی یک سامانه هوشمند درخواست خودرو است که در هر زمان و هر نقطه‌ای از شهر، شما را به مقصدتان می‌رساند.</p>
        </div>
        <div class="col w-50">
            <div class="animate d-flex justify-content-left pt-3 row text-center">
                <div class="col">
                    <img src="/assets/img/affordable.svg" />
                    <h4 class="mt-2">راحت</h4>
                </div>
                <div class="col">
                    <img src="/assets/img/car.svg" />
                    <h4 class="mt-2">پرسرعت</h4>
                </div>
                <div class="col">
                    <img src="/assets/img/safe.svg" />
                    <h4 class="mt-2">به‌صرفه</h4>
                </div>
                <div class="col">
                    <img src="/assets/img/speed.svg" />
                    <h4 class="mt-2">ایمن</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- end of section two -->


</div>